/* STYLINING */

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    width: 80vw;
}


/* TYPOGRAPHY   */

h1,
h2 {
    color: #e75605;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    /* font-size: 146.4px; */
    font-size: calc(25px + (146.4 - 25) * ((100vw - 300px) / (1600 - 300)));
    /* font-weight: regular; */
    /* line-height: 120px; */
    line-height: calc(10px + (120 - 1) * ((100vw - 300px)/(1600 - 300)));
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: bold;
}

.reachout a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 29px;
}

placeholder {
    font-size: 20px;
}

input {
    line-height: 27px;
}

p,
label {
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    line-height: 29px;
}

nav li {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: regular;
    line-height: 29px;
}

nav,
h2,
span {
    text-transform: uppercase;
}


/* EVERYTHING */

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.reachout a {
    color: #ffffff;
}

.reachout li {
    display: inline-block;
}

.copyright {
    background-color: black;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
}


/* NAVIGATION */

nav {
    text-align: center;
    padding-top: 1em;
}

nav li {
    display: inline;
    padding: 1.5em 0.9em;
}

header .fa-bars {
    visibility: hidden;
}


/* HEADER */

header {
    background: url('assets/header-burger.png') no-repeat left bottom;
    background-size: 50%;
    height: 70vh;
}

header .container {
    float: right;
    position: relative;
    padding: 0 0 0 15%;
}

header h1 {
    padding: 0 38%;
}

.social i {
    color: #e75605;
    padding: 0.5em;
    display: block;
}

.social ul {
    /* float: right; */
    /* margin-bottom: 25em; */
    /* margin-top: -10em; */
    /* margin-left: 67em; */
    /* padding: 0 50% 0 0%; */
    position: absolute;
    top: 25%;
    right: 0;
    left: 94%;
}


/* NEW and EXPERIENCE */

.new .container {
    float: left;
    width: 50%;
}

.experience .container {
    float: right;
    width: 50%;
}

.text {
    padding: 7% 7% 0;
}

.container img {
    width: 100%;
    display: block;
}

.desserts .wrapper {
    background-color: #f4f4f4;
    padding: 2em 2em;
}

.desserts .container {
    padding: 3em;
    float: left;
}

.desserts .text {
    /* width: 60%; */
    padding: 1em;
    width: calc(90% - 25em);
}


/* REACH OUT */

.reachout {
    margin-top: -1em;
    height: 27em;
    text-align: center;
    background-color: #e75605;
}

.reachout li {
    padding: 10% 3%;
}

.reachout i {
    display: block;
    line-height: 1.5em;
    font-size: 4rem;
}


/* GALLERY */

.gallery li {
    width: calc(100% / 3 - 0.8em);
    /* width: 30%; */
    display: inline-block;
    padding: 0 0.8em 4em;
}

.gallery h2 {
    text-align: center;
    padding: 1em;
}


/* FOOTER */

.gallery img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #f4f4f4;
}

footer .wrapper {
    /* padding: 0 0 0 3em; */
    margin: 0 auto;
    padding: 0 3%;
}

footer h2 {
    padding-left: 1em;
}

footer section {
    /* width: calc( 50% - 2em); */
    /* float: left; */
    padding: 0;
}

.contact {
    float: left;
}

.subscribe {
    float: right;
}

footer p {
    line-height: 1em;
}

input {
    width: 70%;
    height: 3em;
    margin: 1em 0;
}

.copyright {
    height: 3em;
    padding: 1em;
    margin: 0;
}